.mypage
  .mypage__header
    .mypage__header__left
      .mypage__header__left__av
        .av
          =image_tag '/assets/man1.png', alt: 'test', height: '100', width: '110', class: 'av1'
        .u-info
          .u-name
            = @user.name
          .u-phone
            = "phone:#{@user.phone}"
        .login_edit
          = link_to edit_user_path(current_user), class: "edit" do
            EDIT

      .mypage__header__left__hot
        .mypage__header__left__hot__top
          = icon("fas", "fire", id: "fire")
          Topics
        .mypage__header__left__hot__rank
          .mypage__header__left__hot__rank__comments
            - @plan_comment_ranking.first(1).each do |rank|
              .comments_num
                = icon("far", "comment")
                = rank.comments.count
              .comments_box
                = link_to "#{rank.name}", plan_path(id: rank.id), method: :get
                %p
                  担当者
                  - rank.users.first(1).each do |user|
                    = user.name

          .mypage__header__left__hot__rank__fav
            - @plan_fav_ranking.first(1).each do |rank|
              .fav_num
                = icon("far", "star")
                = rank.favorites.count
              .fav_box
                = link_to "#{rank.name}", plan_path(id: rank.id), method: :get
                %p
                  担当者
                  - rank.users.first(1).each do |user|
                    = user.name



    .mypage__header__right
      .mypage__header__right__top
        = icon("far", "chart-bar", id: "sig")
        Your Record
      .mypage__header__right__body
        .mypage__header__right__body__left
          .mypage__header__right__body__left__1
            .icons
              = icon("far", "clock", id: "check")
            .text
              %p1
                = @user.plans.count
              %p2
                plan作成数
          .mypage__header__right__body__left__2
            .icons
              = icon("far", "comments", id: "check")
            .text
              %p1
                = @user.comments.count
              %p2
                あなたのコメント数

        .mypage__header__right__body__right

          .mypage__header__right__body__right__3
            .icons
              = icon("far", "star", id: "check")
            .text
              %p1
                = @user.fav_plans.count
              %p2
                お気に入り数

          .mypage__header__right__body__right__4
            .icons
              = icon("fas", "camera", id: "check")
            .text
              %p1
                = @image_count.count
                -# = @user.comments.images.count
              %p2
                投稿画像数

        
      
  .mypage__index
    .plans
      %p#notice= notice
      %h1 施工依頼一覧
      .table1
        .title
          .title__limit 
            期日
          .title__name 
            件名
          .title__created 
            作成日時
          .title__edit
          .title__destroy
        .bottom
          - @newplan.each do |plan|
            .body
              .body__limit
                = plan.limit.strftime('%m/%d')
              .body__name
                = link_to "#{plan.name}", plan_path(id: plan.id), method: :get
              .body__create
                = plan.created_at.strftime('%Y年%m月%d日')
              .body__edit
                = link_to '編集', edit_plan_path(plan)
              .body__destroy
                = link_to '削除', plan, method: :delete, data: { confirm: 'Are you sure?' }










.new_plan
  最新plan(５件表示)
  - @newplan.first(5).each do |plan|
    .kk
      = link_to "#{plan.name}", plan_path(plan.id), method: :get
.created_plan
  - @user.plans.each do |plan|
    = link_to "#{plan.name}", plan_path(plan.id), method: :get
    = plan.comments.count
.count_all_plan
  これまで作ったplanの数
  = @user.plans.count

.count_comment
  全てのコメント数
  = @user.comments.count
.user_fav
  お気に入り
  = @user.fav_plans.count
  - @user.fav_plans.each do |favorite|
    = link_to "#{favorite.name}", plan_path(favorite)

.alluser
  - @alluser.each do |user|
    = link_to "#{user.name} = #{user.plans.count}", user_path(user.id), method: :get

.ranking
  .ranking_comment
    コメントが多い順
    - @plan_comment_ranking.each do |rank|
      = link_to "#{rank.name} コメント数#{rank.comments.count}", plan_path(id: rank.id), method: :get
      担当者
      - rank.users.first(1).each do |user|
        = user.name
  .ranking_fav
    いいねが多い順
    - @plan_fav_ranking.each do |rank|
      = rank.name
      = link_to "#{rank.name} イイね数#{rank.favorites.count}", plan_path(id: rank.id), method: :get

