#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      = image_tag '/assets/man.png', alt: 'test', height: '100', width: '100', class: 'av'
      %h2 WELLCOME
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-input
            = f.email_field :email, autofocus: true, placeholder: "Email"
          .field
            .field-label
            .field-input
              = f.password_field :password, autocomplete: "off", placeholder: "Password(6文字)"
          .actions
            = f.submit "Log in", class: 'btn'
