.all_plan
  .plans__new
    .plans__new__btn
      .sss
        = icon("fas", "plus", id: "plus")
        = link_to 'New Plan', new_plan_path

  .plans
    %p#notice= notice
    %h1 施工依頼一覧
    .table1
      .title
        .title__limit 
          期日
        .title__name 
          件名
        .title__user 
          担当者
        .title__created 
          作成日時
        .title__edit
        .title__destroy
      .bottom
        - @newplan.each do |plan|
          .body
            .body__limit
              = plan.limit.strftime('%m/%d')
            .body__name
              = link_to "#{plan.name}", plan_path(id: plan.id), method: :get
            .body__user
              - plan.users.first(1).each do |user|
                = user.name
            .body__create
              = plan.created_at.strftime('%Y年%m月%d日')
            .body__edit
              = link_to '編集', edit_plan_path(plan)
            .body__destroy
              = link_to '削除', plan, method: :delete, data: { confirm: 'Are you sure?' }


