-# %script{:src => "plan.js", :type => "text/javascript"}

.all
  .all__side
    .all__side__header
      = icon("fa", "times-circle", id: "ba")
      = icon("fa", "minus-circle", id: "nami")
      = icon("fa", "expand-alt", id: "ex")
      .aaa
    .ccc
    .user-statuses__btn
      - if user_signed_in?
        %p2
          Wellcome!
        .login_name
          = "#{current_user.name}"
          = icon("fa", "check", id: "check")
        .login_edit
          = link_to  destroy_user_session_path, method: :delete, class: "logout" do
            = icon("fas", "sign-out-alt", id: "signout")
          = link_to edit_user_path(current_user), class: "edit" do
            Edit
            = icon("fas", "user-cog", id: "cog")
      - else
        = link_to "ログイン", new_user_session_path
        = link_to "新規ユーザー登録", new_user_registration_path
    
    .oritatami
      %details
        %summary お気に入り
        - if user_signed_in?
          - current_user.fav_plans.first(5).each do |favorite|
            .fav_menu{draggable: 'true'}
              = link_to "#{favorite.name} ", plan_path(favorite), class: "fav_list"
      %details
        %summary 一覧(新しい順)
        - @newplan.first(10).each do |plan|
          .index_plan{draggable: 'true'}
            = link_to "#{plan.name}", plan_path(plan.id), method: :get, class: "plan_list"
    .copy
      © 2020 KEN-77-o-saka



  .board
    .user_list
      .user_list-a
        会津工業
      .user_list-b
        臼田工業
      .user_list-c
        愛邦工業
      .user_list-d
        千秋設備
      .user_list-e
        末広工業
      .user_list-f
        工務課
    #calendar.calendar{dropzone: "copy"}
